@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/font-awesome/less/font-awesome.less";
@import "../vendor/animate.css/animate.min.css";
@import (inline) "../vendor/prism/themes/prism.css";

@import "base/config.less";
@import "base/mixins.less";
@import "base/fonts.less";
@import "base/typografia.less";

@import "xxl/elements.less";
@import "xxl/xxl.less";
@import "xxl/xl.less";

@media screen and (min-width: 1300px) {
    .container {width: 1270px;}
}
// (1300px > lg >= 1200px)
@media screen and (max-width: 1299px) {
    @import "media_queries/lg";
}
// (1200px > md >= 992px)
@media screen and (max-width: 1199px) {
    @import "media_queries/md";
}
// (992px > sm >= 768px)
@media screen and (max-width: 991px) {
    @import "media_queries/sm";
}
// (768px > xs >= 320px)
@media screen and (max-width: 767px) {
    @import "media_queries/xs";
}
@import "media_queries/xss";