// Elements/base ---------------------------------------------------------------
.line_gray {
    height: 1px;
    background-color: #3c3c3c;
}
.triangle_white_mask {
    width: 460px;
    height: 460px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/bg/bg_triangle_white.png');
    
}
.ico_email, .ico_marker, .ico_mobile, .ico_phone {
    width: 20px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center center;
}
.ico_email  {background-image: url('../img/icons/ico_email.png');}
.ico_marker {background-image: url('../img/icons/ico_marker.png');}
.ico_mobile {background-image: url('../img/icons/ico_mobile.png');}
.ico_phone  {background-image: url('../img/icons/ico_phone.png');}

//------------------------------------------------------------------------------
.ico_arrow_next, .ico_arrow_prev {
    width: 13px;
    height: 17px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
.ico_arrow_next {background-image: url('../img/icons/ico_arrow_next.png');}
.ico_arrow_prev {background-image: url('../img/icons/ico_arrow_prev.png');}
.swiper-button-prev, .swiper-button-next {
    background-color: @hex_black;
    background-image: none !important;
    display: inline-block;
    width: 44px !important;
    height: 44px;
    line-height: 44px; 
    text-align: center;
    vertical-align: middle;
    .mx_transition(all 0.5s);
    .mx_transform(skewX(-20deg));
    .ico_arrow_prev, .ico_arrow_next {
        line-height: 44px;  
        height: 44px;
        .mx_transform(skewX(20deg));
    }
    &:hover {background-color: @hex_blue;}
}
.ico_search {
    width: 19px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/icons/ico_search.png');
}
.btn_search {
    background-color: @hex_black;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    border:none;
    padding: 0;
    .mx_transform(skewX(-20deg));
    .mx_transition(all 0.5s);
    .ico_search {
        .mx_transform(skewX(20deg));
        line-height: 44px;
        vertical-align: middle;
    }
    .lbl_search {display: none;}
    &:hover {background-color: @hex_blue;}
}
.btn_hamburger {
    background-color: @hex_black !important;
    width: 44px;
    height: 44px;    
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    border:none;
    padding: 0;
    margin-top: 0;
    .mx_transform(skewX(-20deg));
    .mx_transition(all 0.5s);
    .mx_border-radius(0);
    i.fa {
        color: #fff;
        line-height: 44px;
        vertical-align: middle;
        .mx_transform(skewX(20deg));
    }
    &:hover {background-color: @hex_blue !important;}
}
// Elements/frm ----------------------------------------------------------------
input[type=text].form-control,
input[type=email].form-control, 
textarea.form-control {
    .mx_border-radius(0);
}
label {
    color: @hex_black;
    font: 15px/24px @Gotham_Book;
    &.requiredfield:before {content: "* "; color:red;}
}
.claus {
    color: #828282;
    font: 13px/20px @Gotham_Book;
    margin: 30px 0;
}
.btn_blue, .btn_red {
    color: #fff;
    font: 15px/34px @Gotham_Book;
    background-color: @hex_blue;
    border: none;
    padding: 0 12px;
    .mx_transition(all 0.5s);
    .mx_border-radius(0);
    &:hover {
        background-color: #7391ff;
    }
}
.btn_red {
    background-color: #d9534f;
    .mx_transition(all 0.5s);
    &:hover {
        background-color: red;
    }
}
.btn_diamond_blue {
    color: #fff;
    background-color: @hex_black;
    height: 34px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border:none;
    padding: 0 12px;
    .mx_transform(skewX(-20deg));
    .mx_transition(all 0.5s);
    span {
        color: #fff;
        line-height: 34px;
        vertical-align: middle;
        display: inline-block;
        .mx_transform(skewX(20deg));
    }
    &:hover {background-color: @hex_blue;}
}
.btn_diamond_red {
    color: #fff;
    background-color: #d9534f;
    height: 34px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border:none;
    padding: 0 12px;
    .mx_transform(skewX(-20deg));
    .mx_transition(all 0.5s);
    i.fa {
        color: #fff;
        line-height: 34px;
        vertical-align: middle;
        display: inline-block;
        .mx_transform(skewX(20deg));
    }
    &:hover {background-color: red;}
}

.contactform {
    margin-bottom: 100px;
}
.searchform {
    button.btn_blue {width: 100%;}
}
// Elements/box ----------------------------------------------------------------
.home_categories {
    margin: 90px 0 90px;
}
.box_home_categories {
    //max-width: 247px;
    width: 20%;
    float:left;
    .img_wrapper img {
        .mx_transition(all 0.5s);
        opacity: 0.7
    }
    .title {
        color: @hex_black;
        font: 18px/20px @Gotham_Book;
        text-transform: uppercase;
        margin: 35px 0 25px;
    }
    .content {
        color: @hex_black;
        font: 13px/20px @Gotham_Book;
        padding-right: 20px;
        .read_more {
            color: @hex_blue;
            i.fa {.mx_transition(all 0.5s);}
            &:hover {
                text-decoration: none;
                i.fa {margin-left: 5px;}
            }
        }
    }
    &:hover .img_wrapper img {opacity: 1;}
}
.box_gmap #gmap_contact {height: 350px;}

.box_search {
    .btn_diamond_blue {width: 100%}
}
.box_search_item {
    margin: 30px 0;
    h2 {margin-bottom: 15px;}
}
