@media screen and (max-width: 1800px) {
    body {background-size: 31% auto;}
    .pg_home {background-size: 12% auto;}
    .pg_default {background-size: 12% auto;}
    .container_main_slider .mswiper-container {
        height: 392px;
        .swiper-wrapper {
            height: 100%;
            //background-color: red;
            .swiper-slide {
                background-size: 50%;
                .triangle_white_mask {
                    height: 392px; 
                    width: 392px;
                    margin-right: -100px;
                }
                .text_box {
                    width: 30%;
                    top: 70px;
                    .title {
                        font-size: 35px;
                        line-height: 40px;
                        margin-bottom: 30px;
                        height: 80px;
                    }
                }
            }
        }
        .line_gray {top: 25px;}
    }
    .pg_default .pg_header {
        background-size: 50%;
        height: 218px;
        .line_top, .line_bottom {width: 34%;}
    }
    .pg_default .pg_header .header_content .title {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 15px;
        height: 80px;
        width: 60%;
    }
}
@media screen and (max-width: 1650px) {
    body {background-size: 24% auto;}
    .pg_home {background-size: 10% auto;}
    .pg_default {background-size: 8% auto;}
    .container_main_slider .mswiper-container {
        height: 360px;
        .swiper-wrapper .swiper-slide {
            .triangle_white_mask {
                height: 360px; 
                width: 360px;
                margin-right: -100px;
            }
            .text_box {
                width: 35%;
                top: 50px;
            }
        }
    }
    .pg_default .pg_header {
        background-size: 60%;
        .line_top, .line_bottom {width: 28%;}
    }
}
@media screen and (max-width: 1500px) {
    body {background-size: 16% auto;}
    .pg_home {background-size: 5% auto;}
    .pg_default {background-size: 5% auto;}
    .container_main_slider .mswiper-container {
        height: 324px;
        .navigation_box {
            margin-left: -700px;
            width: 630px;
        }
        .swiper-wrapper .swiper-slide {
            .triangle_white_mask {
                height: 324px; 
                width: 324px;
                margin-right: -100px;
            }
            .text_box .title {
                font-size: 30px;
                line-height: 32px;
                margin-bottom: 20px;
                height: 60px;
            }
        }
    }
    .pg_default .pg_header {
        background-size: 60%;
        .line_top, .line_bottom {width: 30%;}
    }
}
@media screen and (max-width: 1400px) {
    body {background-size: 10% auto;}
    .pg_home {background: none;}
    .pg_default {background: none;}
    .container_main_slider {
        .mswiper-container {
            height: 305px;
            .swiper-wrapper .swiper-slide {
                .triangle_white_mask {
                    height: 305px; 
                    width: 305px;
                    margin-right: -100px;
                }
            }
        }
    }
    .pg_default .pg_header {
        height: 200px;
        .header_content .title {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 10px;
            height: 70px;
            width: 60%;
        }
        .line_top, .line_bottom {width: 33%;}
    }
}

