// Header, Footer --------------------------------------------------------------
header {
    color: #fff;
    font: 11px/23px @Gotham_Medium;
    vertical-align: middle;
    background-color: @hex_black;
    b {
        color: #8299ef;
        font: 11px/23px @Gotham_Medium;
        &:hover {color: #7f97f0;}
    }
    .col_r {text-align: right;}
}
.main_menu .container {
    margin-top: 30px;
}
.main_menu.navbar {
    margin-bottom: 0;
    min-height: 127px;
    border: none;
}
.main_menu.navbar-default {
    background-color: transparent;
    .navbar-collapse {padding: 0;}
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        li {
            flex: 1 1 auto;
            display: inline;
            a {
                color: #222222;
                font: 15px/20px @Gotham_Book;
                padding: 10px 5px;
                text-decoration: none;
                border-bottom: 2px solid #fff;
                &:hover {
                    border-bottom: 2px solid #3a62ff;
                    text-decoration: none;
                }
            }
        }
    }
    .nav_search {margin-left: 30px;}
}
footer {
    color: #fff;
    font: 13px/18px @Gotham_Medium;
    vertical-align: middle;
    background-color: @hex_black;
    a {
        color: #fff;
        .mx_transition(all 0.5s);
        &:hover {
            color: #7f97f0;
            text-decoration: none;
        }
    }
    .row_menu {
        padding: 55px 0; 
        .navbar-nav > li > a {padding: 0;}
        .navbar-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            li {
                flex: 1 1 auto;
                display: inline;
                a {
                    text-align: right;
                    &:hover {background-color: transparent;}
                }
            }
        }
    }
    .row_contact {
        padding: 20px 0;
        .col_phone, .col_mobile {
            text-align: center;
        }
        .col_email {
            color: #fff;
            text-align: right;
        }
    }
    .row_copyright {
        padding: 50px 0 110px;
        color: rgba(255, 255, 255, 0.3);
        .col_right {text-align: right;}
        a {
            color: rgba(127, 151, 240, 0.3);
            &:hover {color: rgba(127, 151, 240, 1);}
        }
    }
}
// rows, blades, containers ----------------------------------------------------
.row_gallery {
    .img-thumbnail {
        margin: 15px 0;
        .mx_border-radius(0);
    }
}
.row_banner_slider {
    margin: 80px 0 100px;
    .title_wrapper {
        background: url('../img/bg/bg_1px_gray.png') repeat-x center center;
        .title {
            color: @hex_black;
            font: 44px/50px @Gotham_Light;
            background-color: #fff;
            padding-right: 100px;
            display: inline-block;
        }
    }
    .swiper-container {
        width: 100%;
        height: 200px;
        position: relative;
        .swiper-wrapper {
            margin-top: 80px;
            height: 70px;
            .swiper-slide {
                text-align: center;
                vertical-align: middle;
                line-height: 70px;
                height: 70px;
            }
        }
        .mask_white {
            width: 130px;
            height: 44px;
            display: inline-block;
            background-color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        .swiper-button-prev {
            position: absolute;
            top: 20px;
            right: 60px;
            left: auto;
            z-index: 2;
        }
        .swiper-button-next {
            position: absolute;
            top: 20px;
            right: 8px;
            z-index: 3;
        }
    }
}
.container_main_slider {
    .mswiper-container {
        height: 460px;
        position: relative;
        .swiper-wrapper {
            height: 460px;
            .swiper-slide {
                background-position: right top;
                background-repeat: no-repeat;
                height: 100%;
                position: relative;
                .triangle_white_mask {
                    position: absolute;
                    top: 0;
                    right: 46%;
                    z-index: 2;
                    margin-right: -50px;
                }
                
                .text_box {
                    color: @hex_black;
                    width: 25%;
                    position: absolute;
                    top: 110px;
                    left: 50%;
                    background-color: #fff;
                    margin-left: -620px;
                    padding-bottom: 10px;
                    padding-left: 2px;
                    display: none;
                    z-index: 3;
                    .mx_transition(all 1.5s);
                    .title {
                        font: 44px/60px @Gotham_Light;
                        margin-bottom: 45px;
                        text-transform: uppercase;
                        height: 120px;
                        overflow: hidden;
                        text-shadow: 1px 1px #fff;
                    }
                    .content {
                        font: 16px/30px @Gotham_Book;
                        height: 90px;
                        overflow: hidden;
                        text-shadow: 1px 1px #fff;
                    }
                }
            }
        }
        .line_gray {
            position: absolute;
            top: 50px;
            left: 50%;
            z-index: 10;
            margin-left: -620px;
            width: 630px;
            background-color: #d3d3d3;
        }
        .navigation_box {
            background: url('../img/bg/bg_1px_gray.png') repeat-x center center;
            position: absolute;
            bottom: 28px;
            left: 50%;
            margin-left: -750px;
            width: 630px;
            height: 44px;
            .mask_white {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                width: 130px;
                height: 44px;
                background-color: #fff;
            }
            .swiper-button-next {
                position: absolute;
                left: auto;
                right: 0;
                top:22px;
            }
            .swiper-button-prev {
                position: absolute;
                left: auto;
                right: 55px;
                top: 22px;
            }
        }
    }
}
.cont_home {}
.cont_default {}
.cont_contact {}
// Layouts ---------------------------------------------------------------------
.pg_home {
    background: url('../img/bg/bt_triangle_blue.png') no-repeat left top;
}
.pg_default {
    background: url('../img/bg/bt_triangle_blue.png') no-repeat left top;
    min-height: 650px;
    .pg_header {
        height: 235px;
        background: url('../img/bg/pgdefault_bg.png') no-repeat right top;
        position: relative;
        margin-bottom: 100px;
        .header_content {
            position: absolute;
            top: 55px;
            left: 50%;
            margin-left: -620px;
            .title {
                color: @hex_black;
                font: 40px/40px @Gotham_Light;
                margin-bottom: 15px;
                text-transform: uppercase;
                text-shadow: 1px 1px #fff;
                height: 80px;
                width: 90%;
            }
            .box_breadcrumb {
                a {
                    color: @hex_black;
                    font: 12px/12px @Gotham_Book;
                    text-transform: uppercase;
                    .mx_transition(all 0.5s);
                    &:hover {
                        text-decoration: none;
                        color: #3a64fe;
                    }
                }
                i.fa {margin: 0 15px;}
                span {
                    color: #3a64fe;
                    font: 12px/12px @Gotham_Medium;
                    text-transform: uppercase;
                }
            }
        }
        .line_top, .line_bottom {
            position: absolute;
            width: 600px;
            left: 50%;
            background-color: #d3d3d3;
            height: 1px;
            z-index: 5;
        }
        .line_top {
            top: 25px;
            margin-left: -620px;
        } 
        .line_bottom {
            bottom: 25px;
            margin-left: -690px;
        }
    }
    //.pg_container {margin-bottom: 100px;}
}
.pg_contact {}
body {
    background: url('../img/bg/bg_triangle_gray.png') no-repeat right top;
}