// Colors:
@hex_black: #2b2b2b;
@rgb_black: 43, 43, 43;
@hex_gray: #d3d3d3;
@rgb_gray: 211, 211, 211;
@hex_blue: #3661ff;
@rgb_blue: 54, 97, 255;



@hex_h_fg: @hex_black;
//@hex_txt_short: @hex_black_light;
@hex_txt: @hex_black;

// Gradients:
//@hex_grad_dark: #1e1f5f;


// Fonts:
@Gotham_Black: gotham_black;
@Gotham_Book: gotham_book_regular;
@Gotham_Bold: gotham_bold;
@Gotham_Light: gotham_light;
@Gotham_Medium: gotham_medium;
@Gotham_Ultra: gotham_ultra;
@Gotham_Xlight: gotham_xlight;
@NotoSerif_italic: noto_serif_italic;

// Simple class
.paddingL0 {padding-left: 0px;} 
.paddingR0 {padding-right: 0px;}
.paddingT0 {padding-top: 0px;}
.paddingB {padding-bottom: 0px;}
.paddingLR0 {padding-left: 0px; padding-right: 0px;}
.marginL0 {margin-left: 0px;}
.marginR0 {margin-right: 0px;}
.marginT0 {margin-top: 0px;}
.marginB0 {margin-bottom: 0px;}
.marginLR0 {margin-left: 0px; margin-right: 0px;}
.fl {float: left;}
.fr {float: right;}
.cl {clear: both;}
.tar {text-align: right;}
.tal {text-align: left;}
.tac {text-align: center;}
.t {font-weight: 100;}
.l {font-weight: 300;}
.n {font-weight: 400;}
.b {font-weight: 700;}
.eb {font-weight: 800;}
.ub {font-weight: 900;}
