@font-face {
    font-family: 'gotham_black';
    src: url("../fonts/Gotham-Black.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_bold';
    src: url("../fonts/Gotham-Bold.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_book_regular';
    src: url("../fonts/Gotham-Book-Regular.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_light';
    src: url("../fonts/Gotham-Light.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_medium';
    src: url("../fonts/Gotham-Medium.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_ultra';
    src: url("../fonts/Gotham-Ultra.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'gotham_xlight';
    src: url("../fonts/Gotham-XLight.otf");
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'noto_serif_italic';
    src: url('../fonts/notoserif-italic-webfont.eot');
    src: url('../fonts/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notoserif-italic-webfont.woff2') format('woff2'),
         url('../fonts/notoserif-italic-webfont.woff') format('woff'),
         url('../fonts/notoserif-italic-webfont.ttf') format('truetype'),
         url('../fonts/notoserif-italic-webfont.svg#noto_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}