body {
    color: @hex_black;
    font: 15px/24px @Gotham_Book;
    a {
        color: #3661ff;
        .mx_transition(all 0.5s);
        &:hover {
            text-decoration: underline;
        }
    }
}
.text {
    color: #828282;
    font: 15px/24px @Gotham_Book;
    h1 {
        color: #3661ff;
        font: 44px/55px @Gotham_Light;
        margin: 0 0 50px;
    }
    h2 {
        color: #3661ff;
        font: 18px/35px @Gotham_Light;
        margin: 0 0 30px;
        
    }
    .short, strong {
        color: @hex_black;
        font: 15px/24px @Gotham_Book;
        text-transform: uppercase;
    }
    blockquote {
        color: #3661ff;
        font: 23px/35px @NotoSerif_italic;
        text-align: left;
        padding: 20px 15px;
        border-left: 2px solid #3661ff;
        margin: 24px 0;
    }
    ul {
        list-style: none;
        padding-left: 8px;
        li {
            line-height: 31px;
        }
        li:before {
            content: "•";
            padding-right: 8px;
            color: blue;
        }
    }
}

