// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
header {}
footer {}
// rows, blades, containers ----------------------------------------------------
.cont_home {}
.cont_default {}
.cont_contact {}

.container_main_slider .mswiper-container {
    height: 284px;
    .swiper-wrapper .swiper-slide {
        .triangle_white_mask {
            height: 284px; 
            width: 284px;
            margin-right: -100px;
        }
        .text_box {
            width: 45%;
            top: 45px;
            margin-left: -580px;
            padding-bottom: 5px;
            .content {
                font-size: 14px;
                line-height: 25px;
                height: 75px;
            }
        }
    }
    .line_gray {
        top: 15px;
        margin-left: -580px;
    }
    .navigation_box {
        margin-left: -580px;
        width: 560px;
    }
}
// Layouts ---------------------------------------------------------------------
.pg_home {}


.pg_default .pg_header {
    height: 190px;
    .header_content {
        margin-left: -570px;
        .title {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 0;
            height: 60px;
            width: 60%;
        }
    }
    .line_top, .line_bottom {width: 33%;}
    .line_top {margin-left: -570px;}
    .line_bottom {margin-left: -630px;}
}




.pg_contact {}
