// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
// Header, Footer --------------------------------------------------------------
header {}
.main_menu.navbar-default .navbar-nav li a {
    font-size: 12px;
    padding: 0;
}
.navbar-brand {
    padding-right: 0;
}
.navbar-brand > img {
    width: 120px;
}
.main_menu.navbar-default .navbar-nav li a {
    padding: 5px 5px;
}
.main_menu.navbar-default .nav_search {
    margin-left: 15px;
    margin-top: 10px;
}

.pg_default .pg_header {
    height: 135px;
    background-size: 55%;
    .header_content {
        margin-left: -470px;
        top: 35px;
        .title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 0;
            height: 50px;
            width: 60%;
        }
    }
    .line_top {
        margin-left: -470px;
        top: 15px;
        width: 42%;
    }
    .line_bottom {
        margin-left: -470px;
        bottom: 15px;
        width: 39%;
    }
}

footer {}
// rows, blades, containers ----------------------------------------------------
.container_main_slider .mswiper-container {
    .swiper-wrapper .swiper-slide {
        background-size: 55%;
        .triangle_white_mask {
            height: 284px; 
            width: 284px;
            margin-right: -100px;
        }
        .text_box {
            top: 35px;
            margin-left: -480px;
            padding-bottom: 5px;
            width: 35%;
            .title {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 15px;
                height: 60px;
            }
        }
    }
    .line_gray {
        top: 10px;
        margin-left: -480px;
        width: 480px;
    }
    .navigation_box {
        margin-left: -480px;
        width: 400px;
        bottom: 44px;
    }
}


.cont_home {}
.cont_default {}
.cont_contact {}
// Layouts ---------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}
