// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_home_categories {
    width: 100%;
    margin: 15px 0;
    .img_wrapper {
        float: left;
        width: 30%;
    }
    .content_wrapper {
        float: left;
        width: 70%;
        padding-left: 30px;
        .title {margin-top: 25px;}
    }
}
// Header, Footer --------------------------------------------------------------
header {}
.main_menu {
    .nav_search {
        display: none;
    }
}

.main_menu {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        width: 100%;
    }
    .navbar-nav {
        display: block;
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
        display: block;
        width: 100%;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.main_menu.navbar-default .navbar-nav {
    display: block;
    margin-top: 15px;
}
.main_menu.navbar-default {
    .btn_search {float: right;}
}
.main_menu.navbar-default .navbar-nav {
    padding: 0 15px;
    li a {
        font-size: 14px;
    }
}

footer {
    .row_menu {
        .col_logo {padding-bottom: 30px;}
        .navbar-nav {
            li a {
                font: 12px/18px @Gotham_Light;
                text-align: center;
            }
        }
    }
    .row_contact {
        .col_address, .col_phone, .col_mobile, .col_email {
            margin: 5px 0;
            text-align: left;
        }
    }
    .row_copyright .col_right {text-align: left;}
}
// rows, blades, containers ----------------------------------------------------
.row_banner_slider .title_wrapper .title {
    font-size: 30px;
    padding-right: 50px;
}


.container_main_slider .mswiper-container {
    height: 240px;
    .swiper-wrapper .swiper-slide {
        .triangle_white_mask {
            height: 239px; 
            width: 239px;
            margin-right: -50px;
        }
        .text_box {
            top: 25px;
            margin-left: -370px;
            padding-bottom: 5px;
            width: 40%;
            .title {
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 10px;
                height: 50px;
            }
            .content {
                font-size: 14px;
                line-height: 20px;
                height: 60px;
            }
        }
    }
    .line_gray {
        top: 10px;
        margin-left: -370px;
        width: 350px;
    }
    .navigation_box {
        margin-left: -370px;
        width: 300px;
        height: 36px;
        .swiper-button-prev, .swiper-button-next {
            width: 36px !important;
            height: 36px;
            line-height: 36px;
            .ico_arrow_prev, .ico_arrow_next {
                line-height: 36px;
                height: 36px;
            }
        }
    }
}

.pg_default .pg_header {
    height: 122px;
    background-size: 55%;
    .header_content {
        margin-left: -360px;
        top: 25px;
        .title {margin-bottom: 40px;}
        .box_breadcrumb i.fa {margin: 0 5px;}
    }
    .line_top {
        margin-left: -360px;
        top: 10px;
        width: 40%;
    }
    .line_bottom {
        margin-left: -360px;
        bottom: -20px;
        width: 95%;
    }
}



.cont_home {}
.cont_default {}
.cont_contact {}
// Layouts ---------------------------------------------------------------------
.pg_home {}
.pg_default {}
.pg_contact {}
body {background: none;}
