// Elements/frm --------------------------------------------------------------
// Elements/box ----------------------------------------------------------------
.box_home_categories {
    width: 100%;
    margin: 15px 0;
    .img_wrapper {
        float: none;
        width: 100%;
        img {margin: 0 auto;}
    }
    .content_wrapper {
        float: none;
        width: 100%;
        padding-left: 0;
        .title {margin: 15px 0;}
    }
}
// Header, Footer --------------------------------------------------------------
header {
    .row_top .col_r {text-align: left;}
}

footer {
    .row_menu {
        padding: 30px 0;
        .col_logo {padding-bottom: 0;}
    }
    .row_copyright {
        padding: 30px 0;
        .col_right {text-align: left;}
    }
}
// rows, blades, containers ----------------------------------------------------
.row_banner_slider {
    margin: 30px 0;
    .title_wrapper {
        background: none;
        .title {
            font-size: 30px;
            line-height: 40px;
            padding-right: 0;
        }
    }
    .swiper-container {
        height: 200px;
        .swiper-wrapper {
            margin-top: 20px;
            height: 70px;
        }
        .mask_white {display: none;}
        .swiper-button-prev {
            top: auto;
            bottom: 0;
            right: 55px;
            left: auto;
        }
        .swiper-button-next {
            top: auto;
            bottom: 0;
            right: 0;
            z-index: 3;
        }
    }
}



.container_main_slider .mswiper-container {
    height: 460px;
    .swiper-wrapper .swiper-slide {
        background-size: 100% auto;
        .triangle_white_mask {
            display: none;
        }
        .text_box {
            top: 310px;
            left: 0;
            margin-left: 0;
            padding: 15px;
            width: 100%;
            .title {
                height: 20px;
                margin-bottom: 15px;
            }
            .content {height: 40px;}
        }
    }
    .navigation_box {
        top: auto;
        bottom: 10px;
        left: auto;
        right: 30px;
        margin-left: 15px;
        width: 90%;
    }
    .line_gray {display: none;}
}



.home_categories {margin: 30px 0;}

.cont_home {}
.cont_default {}
.cont_contact {}
// Layouts ---------------------------------------------------------------------
.pg_default .pg_header {
    height: 290px;
    background-size: 100%;
    margin-bottom: 50px;
    .line_top {display: none;}
    .line_bottom {display: none;}
}
.pg_default .pg_header .header_content {
    margin-left: 0px;
    top: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    width: 100%;
    .title {
        width: auto;
        display: block;
        height: auto;
        margin-bottom: 15px;
        padding-bottom: 0;
    }
    .box_breadcrumb {
        a, span {font-size: 11px;}

    }
}
.pg_home {}
.pg_default {}
.pg_contact {}
