@media screen and (max-width: 650px) {
    .container_main_slider .mswiper-container {
        height: 400px;
        .swiper-wrapper .swiper-slide {
            .text_box {
                top: 240px;
                .content {height: 60px;}
            }
        }
    }
    .pg_default .pg_header {
        height: 240px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 480px) {
    .container_main_slider .mswiper-container {
        height: 380px;
        .swiper-wrapper .swiper-slide {
            .text_box {
                top: 200px;
                .title {height: 40px;}
            }
        }
    }
    .pg_default .pg_header {
        height: 200px;
    }
}
@media screen and (max-width: 320px) {
    .container_main_slider .mswiper-container {
        height: 360px;
        .swiper-wrapper .swiper-slide {
            .text_box {
                top: 140px;
                .title {height: 50px;}
            }
        }
    }
}